.content {
	width: 1200px;
	height: 825px;
	margin: 0px auto;
	border-bottom: 3px solid #ccc;
}
.content h2,.share h2{
	text-align: center;
	color: #333;
	font-size: 36px;
	font-weight: normal;
	line-height: 100px;
}
.content a{
	float: left;
	width: 388px;
	height: 218px;
	overflow: hidden;
	margin: 0 0 12px 17px;
}
.content  a:nth-of-type(1),.content  a:nth-of-type(4),.share      a:nth-of-type(1),.share  a:nth-of-type(3){
 margin-left:0;
}
.content a img,.share a img {
	display: block;
}
.content a:nth-of-type(1){
	position: relative;
	width: 795px;
	height: 448px;
	overflow: hidden;
}
 .content a:nth-of- type(1) .cur {
 width:795px;
 height:448px;
 background: #000;
 opacity: 0;
 position:absolute;
 left:0;
 top:0;
 text-align:center;
 transition:all 0.5s ease-in 0s;
}
.content a:nth-of-type(1):hover .cur {
	opacity: 0.5;
}
.content a .cur h3 {
	color: #fff;
	font-size: 25px;
	font-weight: normal;
	padding-top: 150px;
}
.content a .cur span {
	display: block;
	width: 150px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	color: #2fade7;
	margin: 100px 0 0 317px;
	border-radius: 5px;
	border: 2px solid #2fade7;
}
.content a img {
	transition: all 0.5s ease-in 0s;
}
.content a:hover img {
	transform: scale(1.1, 1.1);
}
.content a:nth-of-type(1):hover img {
	width: 795px;
	height: 448px;
	transform: scale(1);
}
.share {
	width: 1200px;
	height: 850px;
	margin: 0 auto;
	border-bottom: 3px solid #ccc;
}
.share a {
	float: left;
	position: relative;
	width: 592px;
	height: 343px;
	margin: 0 0 16px 16px;
	overflow: hidden;
}
.share a .cur {
	width: 296px;
	height: 345px;
	background: rgba(255,255,255,0);
	position: absolute;
	left: -296px;
	top: 0;
	text-align: center;
	transition: all 0.5s ease-in 0s;
}
.share a:hover .cur {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255,255,255,0.5);
}
.share a:nth-of-type(2) .cur, .share a:nth-of-type(3) .cur {
	position: absolute;
	left: 592px;
	top: 0;
}
.share a:nth-of-type(2):hover .cur, .share a:nth-of-type(3):hover .cur {
	position: absolute;
	left: 296px;
	top: 0;
}
.share a .cur img {
	padding: 70px 0 15px 125px;
}
.share a .cur p {
	padding: 10px 0 15px 0;
}
.share a .cur span {
	display: block;
	width: 75px;
	height: 30px;
	background: #2fade7;
	border-radius: 5px;
	margin: 30px 0 0 110px;
	color: #fff;
	line-height: 30px;
}
footer {
	width: 100%;
	height: 127px;
	margin-top: 100px;
	background: #0a2536;
	color: #fff;
	text-align: center;
}
footer .foot {
	width: 1200px;
	height: 127px;
	margin: 0 auto;
	position: relative;
}
footer span {
	width: 58px;
	height: 32px;
	line-height: 43px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: -31px;
	left: 600px;
	margin-left: -29px;
	background: url(../images/sanjiao.png);
}
footer p {
	line-height: 127px;
}
